// Variables
$bgColorPrimary: #1e87f0;
$bgColorSecondary: #FAFAFA;

// Theme
.bg-color-primary {
    background-color: $bgColorPrimary;
}

.bg-color-secondary {
    background-color: $bgColorSecondary;
}

.spinner {
    padding: 5px;
}