// Variables
$bgColorPrimary: #1e87f0;
$bgColorSecondary: #FAFAFA;
$headerLinkColor: white;
$headerActiveLinkColor: #58bfff;
$headerHoverLinkColor: #98d6fd;

// Theme
.bg-color-primary {
    background-color: $bgColorPrimary;
}

.bg-color-secondary {
    background-color: $bgColorSecondary;
}

.spinner {
    padding: 5px;
}

.header {
    background-color: $bgColorPrimary !important;
}

.header-nav-link {
    color: $headerLinkColor !important;
}

.header-nav-link:hover {
    color: $headerHoverLinkColor !important;
}

.header-nav-link-active {
    color: $headerActiveLinkColor !important;
}

.footer {
    background-color: $bgColorSecondary;
}

.table-row:hover {
    background-color: $bgColorSecondary;
}

// Helpers
.hide {
    display: none;
}